html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
body{
    background-color: #97a2a2;
}
h1{
    font-size: 1.5em;
    font-family: "Arial", serif;
    color: white;
    text-align: center;
    margin-top: 0.66em;
}
a:link{
    color: white;
}
a:visited{
    color: gray;
}
nav{
    margin-top: 1em;
    text-align: right;
}
input, label{
    margin-right: auto;
    margin-left: auto;
}
header img, footer img {
    width: 100%;
    height: auto;
    max-width: 800px;
}
header, footer{
    background-color: #18453b;
    padding: 1.5em 0;
}
div.hf{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#index{
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
label{
    color: white;
    font-family: "Arial", Serif;
}
input[type="button"], input[type="submit"], input[type="text"], select{
    width: 20em;
}
input, select, label{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
div.box{
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
    border: thin solid black;
    background-color: #94ea4a;
    padding: 1em 0;
}
div.box p{
    margin: 1em;
}
div.box img{
    display: block;
    margin: 1em auto;
}
h2{
    font-size: 1.2em;
    margin: 0.83em;
    border-bottom: thin solid black;
}
ul{
   margin: 0 3em;
}
#game{
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
}
div.control button{
    display: block;
    margin: 0.5em auto;
    width: 10em;
}
div.index{
    margin: 1em auto;
    border: thin solid black;
    width: 100%;
    max-width: 800px;
    background-color: #0db14b;
}
div.index p{
    text-align: center;
    margin: 0.5em auto;
}
div.index select{
    display: block;
    margin: 0.5em auto;
}
table{
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}
td{
    font-size: 2em;
    font-family: "Arial", serif;
    width: 2em;
    height: 2em;
    text-align: center;
    border: thin solid black;
    color: white;
}
td.wall{
    background-color: black;
}
td.wrong{
    background-color: red;
}
td button{
    font-size: 2em;
    font-family: "Times New Roman", sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    background: transparent;
    border: 0;
}
td button img{
    height: 100%;
    width: auto;
    max-height: 1em;
}

#game p{
    text-align: center;
    margin: 0.5em;
}

div.question button{
    display: inline-block;
    margin: 0.5em;
}

td.lit{
    background-color: yellow;
}

td.wall-complete{
    background-image: url(completed.png);
    background-size: 100% 100%;
}

